@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');

body {
  margin: 0;
  min-width: 400px;
}

#app {
  display: flex;
  height: 85vh;
  flex-direction: column;
  flex: 1;
  align-items: center;
  transition: background-color 0.8s ease;
  background-color: #f2e9d7;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  color: #051838;
  padding-top: 10%;
  padding-bottom: 5%;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #051838;
  margin: 0;
  text-align: right;
}

footer {
  background: #051838;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
    height: 15vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: #eaeaea;
  margin-left: 5px;
}
.city-form {
    display: flex;
    flex-flow: row;
    width: 80%;
    margin-bottom: 5%;
}

input[type=text]  {
  width: 100%;
  text-align: left;
  background-color: #fffcf7;
  padding: 5% 5%;
  border: none;
  font-size: 1rem;
  border-bottom: solid 2px #f7f7f7;
  transition: border 0.3s;
  border-radius: 5px;
}

input[type="text"] {
    outline-color: white;
}

button {
    background-color: #2D4671;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 5px;
    margin-left: 20px;
    width: 20%
}

button:hover {
  transition: background-color 0.5s ease;
  background-color: #4D658D;
}

.pac-container {
  background-color: #fff;
  position: absolute!important;
  z-index: 1000;
  border-radius: 3px;
  border-top: 1px solid #d9d9d9;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}



.pac-item {
  background: #fffcf7;
  font-size: 1rem;
  color: #051838;
  padding: 2% 5%;
}

.pac-icon-marker {
  display: none;
  color: #051838;
}


.pac-item-query {
 font-size: 1rem;
 color: #051838;;
}

.pac-logo {
  color: #051838;
}

.city-weather {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}


@media only screen and (max-width: 540px){
  h1 {
    font-size: 4rem;
    margin-bottom: 10%;
  }

  .city-form {
      display: flex;
      flex-flow: column;
      width: 80%;
      margin-bottom: 10%;
  }

  .city-weather {
    margin-bottom: 5%;
  }

  input[type=text] {
    font-size: 1rem;
    width: 90%;
    margin-bottom: 5%;
  }

  button {
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .city-weather {
    margin-top: 10%;
  }

  @media only screen and (max-width: 420px){
    h1 {
      font-size: 3.5rem;
    }

  }

}
